{% extends 'index.html' %}
{% load static %}
{% block page %}


<div id="d-content">


        <section class="d-section-8 d-dark d-animbox d-animated" id="d-section-8">
            <div class="d-grid">
                <div class="d-row">
                    <div class="d-col d-col-6 d-col-xs-12">
                        <div class="h1 d-ttu h0 d-dark2 d-animate d-rise">{{ articles.title}}</div>
                    </div>
                    <div class="d-col d-col-12 d-animate d-fade d-delay-05">
                        <div class='d-swipe-note d-hide-pc d-cb d-xl'>
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="55px" height="37px"
                                 viewBox="0 0 45.002 30" enable-background="new 0 0 45.002 30" xml:space="preserve"><switch>
                                    <g i:extraneous="self">
                                        <g>
                                            <polygon
                                                points="4,20 6.562,20 3.361,16 10,16 10,14 3.361,14 6.562,10 4,10 0,15.001"/>
                                            <g>
                                                <path
                                                    d="M16.002,16c-0.553,0-1-0.448-1-1c0-8.271,6.729-15,15-15s15,6.729,15,14.999c0,0.552-0.449,1-1,1c-0.553,0-1-0.448-1-1 C43.002,7.831,37.17,2,30.002,2s-13,5.831-13,13C17.002,15.552,16.553,16,16.002,16"/>
                                                <path
                                                    d="M29.982,19.989c-6.018,0-5.127-7.311-5.127-7.311s1.027-2.315,5.127-2.315c4.102,0,5.17,2.315,5.17,2.315 S35.998,19.989,29.982,19.989 M30.002,8c-6.285,0-8.115,5.679-8.115,19.004v0.6C24.229,29.114,27.008,30,30.002,30 c2.992,0,5.773-0.887,8.113-2.396v-0.6C38.115,13.679,36.285,8,30.002,8"/>
                                            </g>
                                        </g>
                                    </g>
                                </switch></svg>
                            <div>Смахните пальцем влево, чтобы узнать больше</div>
                        </div>

                    </div>
                    <div>
                            <h2 class="d-section-title">{{ articles.date }}</h2>
                                <div class="d-section-descr" style="letter-spacing:2px;color:black;">
                                    <div class="d-section-descr-content">
                                        <img style="width:100%; margin-bottom: 20px" src="{{ articles.image.url }}">
                                        <a href="linkToPdf">
                                            <span>
                                                <svg style="width:6%;"xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                                <path style="fill:#E2E5E7;" d="M128,0c-17.6,0-32,14.4-32,32v448c0,17.6,14.4,32,32,32h320c17.6,0,32-14.4,32-32V128L352,0H128z"/>
                                                <path style="fill:#B0B7BD;" d="M384,128h96L352,0v96C352,113.6,366.4,128,384,128z"/>
                                                <polygon style="fill:#CAD1D8;" points="480,224 384,128 480,128 "/>
                                                <path style="fill:#F15642;" d="M416,416c0,8.8-7.2,16-16,16H48c-8.8,0-16-7.2-16-16V256c0-8.8,7.2-16,16-16h352c8.8,0,16,7.2,16,16  V416z"/>
                                                <g>
                                                <path style="fill:#FFFFFF;" d="M101.744,303.152c0-4.224,3.328-8.832,8.688-8.832h29.552c16.64,0,31.616,11.136,31.616,32.48   c0,20.224-14.976,31.488-31.616,31.488h-21.36v16.896c0,5.632-3.584,8.816-8.192,8.816c-4.224,0-8.688-3.184-8.688-8.816V303.152z    M118.624,310.432v31.872h21.36c8.576,0,15.36-7.568,15.36-15.504c0-8.944-6.784-16.368-15.36-16.368H118.624z"/>
                                                <path style="fill:#FFFFFF;" d="M196.656,384c-4.224,0-8.832-2.304-8.832-7.92v-72.672c0-4.592,4.608-7.936,8.832-7.936h29.296   c58.464,0,57.184,88.528,1.152,88.528H196.656z M204.72,311.088V368.4h21.232c34.544,0,36.08-57.312,0-57.312H204.72z"/>
                                                <path style="fill:#FFFFFF;" d="M303.872,312.112v20.336h32.624c4.608,0,9.216,4.608,9.216,9.072c0,4.224-4.608,7.68-9.216,7.68   h-32.624v26.864c0,4.48-3.184,7.92-7.664,7.92c-5.632,0-9.072-3.44-9.072-7.92v-72.672c0-4.592,3.456-7.936,9.072-7.936h44.912   c5.632,0,8.96,3.344,8.96,7.936c0,4.096-3.328,8.704-8.96,8.704h-37.248V312.112z"/>
                                            </g>
                                            <path style="fill:#CAD1D8;" d="M400,432H96v16h304c8.8,0,16-7.2,16-16v-16C416,424.8,408.8,432,400,432z"/>

                                            </svg></span>
Загрузить в PDF</a>
                                    </div>
                           {{ articles.text }}
                        </div>
                        </div>
                </div>
            </div>
            <div class="d-bgd d-bgd-8" style="background:#fff"></div>
        </section>

    </div><!-- /#d-content -->

</div><!-- /#d-wrap -->

{% endblock %}