{% load static %}



<section class="elementor-section elementor-top-section elementor-element elementor-element-16b53d5 elementor-reverse-tablet elementor-reverse-mobile elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="16b53d5" data-element_type="section">
<div class="elementor-container elementor-column-gap-default">
<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-3002ac3" data-id="3002ac3" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;gradient&quot;}">
<div class="elementor-widget-wrap elementor-element-populated">
<div class="elementor-element elementor-element-9bf4186 elementor-widget elementor-widget-spacer" data-id="9bf4186" data-element_type="widget" data-widget_type="spacer.default">
<div class="elementor-widget-container">
<div class="elementor-spacer">
<div class="elementor-spacer-inner"></div>
</div>
</div>
</div>
<div class="elementor-element elementor-element-7ac6845 aleft elementor-view-stacked elementor-widget-icon-box wgl-icon-box elementor-shape-circle elementor-widget elementor-widget-wgl-info-box animated fadeInLeft" data-id="7ac6845" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInLeft&quot;,&quot;_animation_delay&quot;:200}" data-widget_type="wgl-info-box.default">
<div class="elementor-widget-container">
<div class="wgl-infobox"><div class="wgl-infobox_wrapper wgl-layout-left"><div class="media-wrapper icon-wrapper"><span class="wgl-icon"><i class="icon elementor-icon flaticon flaticon-blockchain-1" aria-hidden="true"></i></span></div><div class="content_wrapper"><div class="wgl-infobox-title_wrapper"><h3 class="wgl-infobox_title"><span class="wgl-infobox_title-idle">Intuitive Platform</span></h3></div><div class="wgl-infobox_content"><p>Built on blockchain network.</p></div></div></div></div>		</div>
</div>
<div class="elementor-element elementor-element-6b6e538 aleft elementor-view-stacked elementor-widget__width-initial elementor-widget-tablet__width-inherit elementor-widget-icon-box wgl-icon-box elementor-shape-circle elementor-widget elementor-widget-wgl-info-box animated fadeInLeft" data-id="6b6e538" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInLeft&quot;,&quot;_animation_delay&quot;:400}" data-widget_type="wgl-info-box.default">
<div class="elementor-widget-container">
<div class="wgl-infobox"><div class="wgl-infobox_wrapper wgl-layout-left"><div class="media-wrapper icon-wrapper"><span class="wgl-icon"><i class="icon elementor-icon flaticon flaticon-bitcoin-logo" aria-hidden="true"></i></span></div><div class="content_wrapper"><div class="wgl-infobox-title_wrapper"><h3 class="wgl-infobox_title"><span class="wgl-infobox_title-idle">Token Integration</span></h3></div><div class="wgl-infobox_content"><p>Processing &amp; analyzing data sets.</p></div></div></div></div>		</div>
</div>
<div class="elementor-element elementor-element-c989d09 aleft elementor-view-stacked elementor-widget-icon-box wgl-icon-box elementor-shape-circle elementor-widget elementor-widget-wgl-info-box animated fadeInLeft" data-id="c989d09" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInLeft&quot;,&quot;_animation_delay&quot;:600}" data-widget_type="wgl-info-box.default">
<div class="elementor-widget-container">
<div class="wgl-infobox"><div class="wgl-infobox_wrapper wgl-layout-left"><div class="media-wrapper icon-wrapper"><span class="wgl-icon"><i class="icon elementor-icon flaticon flaticon-shield-1" aria-hidden="true"></i></span></div><div class="content_wrapper"><div class="wgl-infobox-title_wrapper"><h3 class="wgl-infobox_title"><span class="wgl-infobox_title-idle">Global Security</span></h3></div><div class="wgl-infobox_content"><p>Built on blockchain network.</p></div></div></div></div>		</div>
</div>
<div class="elementor-element elementor-element-44b2ae2 elementor-widget elementor-widget-spacer" data-id="44b2ae2" data-element_type="widget" data-widget_type="spacer.default">
<div class="elementor-widget-container">
<div class="elementor-spacer">
<div class="elementor-spacer-inner"></div>
</div>
</div>
</div>
</div>
</div>
<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-772f10a" data-id="772f10a" data-element_type="column">
<div class="elementor-widget-wrap elementor-element-populated">
<div class="elementor-element elementor-element-2801910 elementor-widget elementor-widget-spacer" data-id="2801910" data-element_type="widget" data-widget_type="spacer.default">
<div class="elementor-widget-container">
<div class="elementor-spacer">
<div class="elementor-spacer-inner"></div>
</div>
</div>
</div>
<div class="elementor-element elementor-element-812fad1 aleft elementor-widget elementor-widget-wgl-double-heading" data-id="812fad1" data-element_type="widget" data-widget_type="wgl-double-heading.default">
<div class="elementor-widget-container">
<div class="wgl-double-heading"><div class="dblh__subtitle"><span>WHY NICO</span></div><h2 class="dblh__title-wrapper"><span class="dblh__title dblh__title-1">Nico Token is the World’s First Stablecoin</span></h2></div>		</div>
</div>
<div class="elementor-element elementor-element-22cee13 elementor-widget elementor-widget-text-editor" data-id="22cee13" data-element_type="widget" data-widget_type="text-editor.default">
<div class="elementor-widget-container">
<p>Our mission is to provide everyone with high and useful reward for his/her trading, purchase and investment. Our goal is to make the cryptocurrency market grow faster. Our goal is to educate global citizens on the industry so they are not left behind during the next financial and technological.</p>						</div>
</div>
<div class="elementor-element elementor-element-f2fbd78 elementor-widget__width-auto aleft elementor-widget-icon-box wgl-icon-box elementor-widget elementor-widget-wgl-button" data-id="f2fbd78" data-element_type="widget" data-widget_type="wgl-button.default">
<div class="elementor-widget-container">
<a class="wgl-button btn-size-lg " role="button" href="https://wgl-demo.net/nico/contacts/"><div class="button__content align-icon-left"><div class="media-wrapper icon-wrapper"><span class="wgl-icon"><i class="icon elementor-icon flaticon flaticon-file" aria-hidden="true"></i></span></div><span class="button__text">White Paper</span></div></a>		</div>
</div>
<div class="elementor-element elementor-element-61d3e4e button_align-inline elementor-widget__width-auto elementor-widget elementor-widget-wgl-video-popup" data-id="61d3e4e" data-element_type="widget" data-widget_type="wgl-video-popup.default">
<div class="elementor-widget-container">
<div class="wgl-video-popup animation-disable title_pos-right "><div class="videobox_content" data-elementor-open-lightbox="yes" data-elementor-lightbox="{&quot;type&quot;:&quot;video&quot;,&quot;videoType&quot;:&quot;vimeo&quot;,&quot;url&quot;:&quot;https:\/\/www.youtube.com\/embed\/TKnufs85hXk?feature=oembed&amp;loop=0&quot;,&quot;modalOptions&quot;:{&quot;id&quot;:&quot;elementor-lightbox-61d3e4e&quot;}}"><h3 class="title">View Presentation</h3><div class="videobox_link"><svg class="videobox_icon" viewBox="0 0 10 10"><polygon points="1,0 1,10 9,5"></polygon></svg></div></div></div>		</div>
</div>
</div>
</div>
</div>
</section>