{% extends 'index.html' %} {% load static %} {% block page %}

<section
  class="d-section-10 d-animbox d-animated"
  id="d-section-10"
  style="margin-top: 70px"
>
  <div class="d-grid">
    <div class="d-col d-col-12">
      </div>

    <div class="d-row">
      <div class="d-col d-col-12">
        <div class="h1 d-ttu d-white d-rise d-animate">
          Готовы к&nbsp;сотрудничеству?<br />Напишите нам
        </div>
        <a href="/appeal/"></a>
      </div>
      {% include 'send_mail.html' %}
      <div
          class="d-grid d-white d-l"
          style="display: flex; justify-content: space-between; flex-wrap: wrap; padding-bottom:30px; font-size: 20px;"
        >
          <article>
            {% for c in contact %}
            {{c.address|safe}}
            {% endfor %}
          </article>
          <article>

            {% for c in contact %}
            {{c.phone_number|safe}}
            {% endfor %}
          </article>
          <article>
            {% for c in contact %}
            {{c.mail|safe}}
            {% endfor %}

          </article>
        </div>

    </div>
  </div>
</section>

{% endblock %}
